.main-content{color:rgba(80, 61, 58, 0.568)}
.main-content{font-family: Cabria, Cochin, Georgia, Times, 'Times New Roman', serif}

.main-content{border: 1px solid rgb(88, 7, 57);
margin: auto;
padding: 10px;
text-align: justify;
text-align: center}

.imagebig{width:600px ; height:400px }
.picture{width:500px; height:300px}

#grandtitre{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif }
#grandtitre{color: rgb(248, 157, 141)}